/* global css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto+Condensed:wght@100;300;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #F3F3F3;
    --secondary: #29ADB2;
    --font-color: #0766AD;
    --title-font: 'Roboto Condensed', sans-serif;
    --p-font: 'Open Sans', sans-serif;
}

html {
 scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 100px auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar css  */

.logo-img {
    object-fit: cover;
    border-radius: 100px;
    height: 2rem;
    width: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.list-item a {
    font-size: 1.2rem;
    font-family: var(--title-font);
    color: var(--font-color);
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: block;
    position: sticky;
}

.navbar-button {
    font-weight: 900;
}

/* hero css */

.hero-container , .about-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
}

.hero-container {
    /* height: 100vh; */
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.hero-content h1 {
    font-size: 2.6rem;
    font-family: var(--title-font);
    font-weight: 800;
    color: var(--font-color);
}

.hero-content p {
    font-size: 1.2rem;
    font-family: var(--p-font);
    /* font-weight: 300; */
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    font-family: var(--p-font);
    height: 50px;
    width: 100px;
    padding: 10px 5px;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 10px;
    box-shadow: none;
    transition: 300ms ease-in;
}

.btn:hover {
    background-color: var(--font-color);
    border-radius: 15px;
    font: 700;
    color: var(--primary);
}

.hero-image-container img {
    border-radius: 50px;
}


/* about section  */


.about-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.hero-content, .hero-image-container {
    align-self: center;
    justify-self: center;
}


.about-container {
 display: grid;
 text-align: center;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    align-self: center;
    justify-self: center;
    gap: 1.2rem;

}


.about-heading-title h5 {
    font-size: 1.5rem;
    color: var(--font-color);
    font-family: var(--title-font);
}

.about-heading-title h2 {
    font-size: 3rem;
    font-family: var(--title-font);
    font-weight: 700;
    
}

.feature {
    border: 1px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1.2rem;
    border-radius: 10px;
    gap: 0.8rem;
}

.feature h3 {
    font-size: 1.4rem;
    font-family: var(--title-font);
    font-weight: 700;
}

.feature p {
    font-size: 1.0rem;
    font-family: var(--p-font);
    /* font-weight: 300; */
}

.about-details {
    height: 60vh;
    align-items: center;
}

.about-detail-content h1 {
    font-size: 2.6rem;
    font-family: var(--title-font);
    font-weight: 800;
    color: #0766AD;
}

.about-detail-content p {
    font-size: 1.2rem;
    font-family: var(--p-font);
    /* font-weight: 300; */
}

.about-detail-image img {
    border-radius: 15px;
}

/* service section  */

.services-container {
    display: grid;
    gap: 2rem;
}

.service-content {
    text-align: end;
}

.service-content h5 {
    font-size: 1.5rem;
    color: var(--font-color);
    font-family: var(--title-font);
}

.service-content h2 {
    font-size: 3rem;
    font-family: var(--title-font);
    font-weight: 700;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
}

.service {
    border: 1px solid rgb(255, 255, 255);
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    transition: 100ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.service:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.service h3 {
    font-family: var(--title-font);
    font-size: 1.4rem;
    font-weight: 700;
}

.service p {
    font-family: var(--p-font);
    font-size: 1rem;    
}

section {
    margin: 100px;
}


/* projects section  */


.projects-container {
    background: url(images/imagecompressor/v880-kul-11-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.project-contents h5 {
    font-size: 1.5rem;
    color: var(--font-color);
    font-family: var(--title-font);
}

.project-contents h2 {
    font-size: 3rem;
    font-family: var(--title-font);
    font-weight: 700; 
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project:nth-child(2) .project-img{
    grid-area: 1/2;
    align-self: right;
}

.project:nth-child(2) .project-content{
    grid-area: 0/1;
    
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.project-content h5 {
    font-size: 1.2rem;
    font-family: var(--title-font);
    font-weight: 700; 
}

.project-content h2 {
    font-size: 3rem;
    font-family: var(--title-font);
    font-weight: 700; 
}

.project-content p {
    font-family: var(--p-font);
    font-size: 1rem;
}

.project-content {
    text-align: start;
    gap: 0.8rem;
    display: grid;
}

.project-contents {
    gap: 1rem;
    display: grid;
}

.project-heading {
    display: flex;
    gap: 1rem;
    text-align: left;
    flex-direction: column;
}

/* contact section  */

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
}

.contact-content h5 {
    font-size: 1.2rem;
    font-family: var(--title-font);
    font-weight: 700;
    color: var(--font-color); 
}

.contact-content h2 {
    font-size: 3rem;
    font-family: var(--title-font);
    font-weight: 700; 
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    width: 30vw;
    height: 8vh;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border: 1px solid rgb(255, 255, 255);
}

.contact-form input, .contact-form textarea, .contact-form .btn {
    margin: 10px 0px;
}

.contact-form h1 {
    font-size: 1.8rem;
    font-family: var(--title-font);
    color: var(--font-color);
    align-self: flex-start;
    font-weight: 900;
}

.detail {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.detail-content h3 {
    font-size: 1.4rem;
    font-family: var(--title-font);
    font-weight: 700;
    color: var(--font-color);
}

.detail-content p {
    font-family: var(--p-font);
    font-size: 1rem;
}

.contact-details {
    margin: 2rem 0;
}

.contact-details .text {
    font-size: 1.4rem;
    font-family: var(--title-font);
    font-weight: 700;
}