/* global css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #0a0908;
    --secondary: #49111c;
    --font-color: #f2f4f3;
}

body {
    background-color: var(--primary);
    color: var(--font-color);
}

.container {
    max-width: 95rem;
    margin-inline: 2rem;
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar css  */

.logo-img {
    object-fit: cover;
    border-radius: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: block;
    margin: 1rem;
    position: sticky;
}

.navbar {
    margin: 1rem;
}

.navbar-btn button {
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid var(--font-color);
    border-radius: 7px;
    padding: 10px 10px;
    color: var(--font-color);
    font-size: 1rem;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
