/* global css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto+Condensed:wght@100;300;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #F3F3F3;
    --secondary: #29ADB2;
    --font-color: #0766AD;
    --title-font: 'Open Sans', sans-serif;
    --p-font: 'Roboto Condensed', sans-serif;
}

html {
 scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
}

.container {
    max-width: 90rem;
    margin-inline: 4rem;
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar css  */

.logo-img {
    object-fit: cover;
    border-radius: 100px;
    height: 2rem;
    width: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.list-item a{
    font-size: 1.2rem;
    font-family: var(--title-font);
    color: var(--font-color);
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: block;
    position: sticky;
}


.navbar-btn button {
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid var(--font-color);
    border-radius: 7px;
    padding: 10px 10px;
    color: var(--font-color);
    font-size: 1rem;
}

/* hero css */

.hero-container , .about-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
}

.hero-container {
    height: 100vh;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: var(--font-color);
}

.hero-content h1{
    font-size: 2.6rem;
    font-family: var(--title-font);
    font-weight: 800;
}

.hero-content p {
    font-size: 1.2rem;
    font-family: var(--p-font);
    font-weight: 300;
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    font-family: var(--p-font);
    height: 50px;
    width: 100px;
    padding: 10px 5px;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 10px;
    box-shadow: none;
    transition: 300ms ease-in;
}

.btn:hover {
    background-color: var(--font-color);
    border-radius: 15px;
    font: 700;
    color: var(--primary);
}

.hero-image-container img {
    border-radius: 50px;
}

.about-container {
    display: flex;
    flex-direction: column;
}
.hero-content, .hero-image-container {
    align-self: center;
    justify-self: center;
}



.about-container {
 display: grid;
 /* grid-template-rows: 10vh 80vh; */
 text-align: center;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    align-self: center;
    justify-self: center;
}

